.progress-bar {
   width: 100%;
   height: 40px;
   background-color: white;
   border: 1px solid #efefef;
   border-radius: 7px;
   position: relative;
}

.progress-bar .progress {
   height: 40px;
   border: 1px solid #efefef;
   border-radius: 7px;
   padding: 8px 12px;
   background-color: #e9ccff;
}

.progress-bar .label {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 40px;
   padding: 8px 12px;
   display: flex;
   align-items: center;
   gap: 7px;
}