.navbar {
   width: 100%;
   height: 10vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px 30px;
   position: fixed;
   z-index: 5;
   top: 0;
   left: 0;
   user-select: none;
}

.navbar-container {
   width: 100%;
   max-width: 900px;
   height: 100%;
   padding: 0 20px;
   border: 1px solid #cdcdcd;
   border-radius: 70px;
   background-color: rgba(255, 255, 255, 0.562);
   backdrop-filter: blur(20px);
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.navbar-container .branding {
   width: fit-content;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 7px;
}

.navbar-container .branding .logo {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar-container .links {
   width: 100%;
   height: 100%;
   padding: 0 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.navbar-container .links .link {
   width: fit-content;
   height: fit-content;
   padding: 5px 10px;
   border-radius: 8px;
   white-space: no-wrap;
   color: #5a5a5a;
}

.navbar-container .links .link:hover {
   color: #333333;
   background-color: #f0f0f0;
}

.navbar-container .action {
   width: fit-content;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 7px;
}

.navbar-container .action button {
   background-color: #6600af;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 100px;
   color: white;
}

.navbar-container .action .user-account-button {
   height: 100%;
   aspect-ratio: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

@media screen and (max-width: 900px) {
   .navbar-container .links { display: none; }
   .navbar-container .action { display: none; }
}


.navbar-container .menu { display: none; }
@media screen and (max-width: 900px) {
   .navbar-container .menu {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 0 5px;
      gap: 7px;
   }

   .navbar-container .menu .menu-btn {
      height: 100%;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}