:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { width: 6px; background: transparent; }
::-webkit-scrollbar-thumb { width: 6px; background-color: #929292; border-radius: 8px; }
::-webkit-scrollbar-thumb:hover { width: 6px; background-color: #7a7a7a9f; border-radius: 8px; }

[class*="text-"] { display: block; width: 100%; }
.text-xxxs { font-size: 0.9rem; }
.text-xxs { font-size: 1rem; }
.text-xs { font-size: 1.1rem; }
.text-s { font-size: 1.2rem; }
.text-sm { font-size: 1.35rem; }
.text-m { font-size: 1.5rem; }
.text-ml { font-size: 1.65rem; }
.text-l { font-size: 1.8rem; }
.text-xl { font-size: 2rem; }
.text-xxl { font-size: 2.15rem; }
.text-xxxl { font-size: 2.15rem; }
.text-b { font-size: 2.8rem; }
.text-xb { font-size: 3rem; }
.text-xxb { font-size: 3.25rem; }
.text-xxxb { font-size: 3.85rem; }

[class*="text-"].bold-300 { font-weight: 300; }
[class*="text-"].bold-400 { font-weight: 400; }
[class*="text-"].bold-500 { font-weight: 500; }
[class*="text-"].bold-600 { font-weight: 600; }
[class*="text-"].bold-700 { font-weight: 700; }
[class*="text-"].bold-800 { font-weight: 800; }
[class*="text-"].bold-900 { font-weight: 900; }

[class*="text-"].error { color: #ff2d2d; }
[class*="text-"].success { color: #14c100; }

[class*="text-"].text-left { text-align: left; }
[class*="text-"].text-center { text-align: center; }
[class*="text-"].text-right { text-align: right; }

[class*="text-"].dfb { display: flex; }
[class*="text-"].dfb.column { flex-direction: column; }
[class*="text-"].dfb.align-center { align-items: center; }
[class*="text-"].dfb.justify-center { justify-content: center; }
[class*="text-"].dfb.wrap { flex-wrap: wrap; }

[class*="text-"].gap-10 { gap: 10px; }
[class*="text-"].gap-15 { gap: 15px; }
[class*="text-"].gap-20 { gap: 20px; }
[class*="text-"].gap-30 { gap: 30px; }
[class*="text-"].gap-40 { gap: 40px; }

[class*="text-"].pd-05 { padding-top: 5px; padding-bottom: 5px; }
[class*="text-"].pd-1 { padding-top: 10px; padding-bottom: 10px; }
[class*="text-"].pd-15 { padding-top: 15px; padding-bottom: 15px; }
[class*="text-"].pd-2 { padding-top: 20px; padding-bottom: 20px; }
[class*="text-"].pd-3 { padding-top: 30px; padding-bottom: 30px; }
[class*="text-"].pd-4 { padding-top: 40px; padding-bottom: 40px; }
[class*="text-"].pd-5 { padding-top: 50px; padding-bottom: 50px; }
[class*="text-"].pd-6 { padding-top: 60px; padding-bottom: 60px; }
[class*="text-"].pd-7 { padding-top: 70px; padding-bottom: 70px; }
[class*="text-"].pd-8 { padding-top: 80px; padding-bottom: 80px; }
[class*="text-"].pd-9 { padding-top: 90px; padding-bottom: 90px; }

[class*="text-"].pdx-05 { padding-left: 5px; padding-right: 5px; }
[class*="text-"].pdx-1 { padding-left: 10px; padding-right: 10px; }
[class*="text-"].pdx-15 { padding-left: 15px; padding-right: 15px; }
[class*="text-"].pdx-2 { padding-left: 20px; padding-right: 20px; }
[class*="text-"].pdx-3 { padding-left: 30px; padding-right: 30px; }
[class*="text-"].pdx-4 { padding-left: 40px; padding-right: 40px; }
[class*="text-"].pdx-5 { padding-left: 50px; padding-right: 50px; }
[class*="text-"].pdx-6 { padding-left: 60px; padding-right: 60px; }
[class*="text-"].pdx-7 { padding-left: 70px; padding-right: 70px; }
[class*="text-"].pdx-8 { padding-left: 80px; padding-right: 80px; }
[class*="text-"].pdx-9 { padding-left: 90px; padding-right: 90px; }

[class*="text-"].mt-05 { margin-top: 5px;  }
[class*="text-"].mt-1 { margin-top: 10px;  }
[class*="text-"].mt-15 { margin-top: 15px; }
[class*="text-"].mt-2 { margin-top: 20px;  }
[class*="text-"].mt-3 { margin-top: 30px;  }
[class*="text-"].mt-4 { margin-top: 40px;  }
[class*="text-"].mt-5 { margin-top: 50px;  }
[class*="text-"].mt-6 { margin-top: 60px;  }
[class*="text-"].mt-7 { margin-top: 70px;  }
[class*="text-"].mt-8 { margin-top: 80px;  }
[class*="text-"].mt-9 { margin-top: 90px;  }

[class*="text-"].mb-05 { margin-bottom: 5px;  }
[class*="text-"].mb-1 { margin-bottom: 10px;  }
[class*="text-"].mb-15 { margin-bottom: 15px; }
[class*="text-"].mb-2 { margin-bottom: 20px;  }
[class*="text-"].mb-3 { margin-bottom: 30px;  }
[class*="text-"].mb-4 { margin-bottom: 40px;  }
[class*="text-"].mb-5 { margin-bottom: 50px;  }
[class*="text-"].mb-6 { margin-bottom: 60px;  }
[class*="text-"].mb-7 { margin-bottom: 70px;  }
[class*="text-"].mb-8 { margin-bottom: 80px;  }
[class*="text-"].mb-9 { margin-bottom: 90px;  }

[class*="text-"].italic { font-style: italic; }

[class*="text-"].grey-1 { color: #eeeeee; }
[class*="text-"].grey-2 { color: #d1d1d1; }
[class*="text-"].grey-3 { color: #b4b4b4; }
[class*="text-"].grey-4 { color: #838383; }
[class*="text-"].grey-5 { color: #464646; }

[class*="text-"].cursor-pointer { cursor: pointer; }
[class*="text-"].visible-link { cursor: pointer; }
[class*="text-"].visible-link:hover { text-decoration: underline; }
[class*="text-"].fit { width: fit-content; }

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.horizontal-convertible { width: 100%; display: flex; }
.horizontal-convertible.align-stretch { align-items: stretch; }
@media screen and (max-width: 900px) {
  .horizontal-convertible { display: flex; flex-direction: column; }
}
.horizontal-convertible.gap-1, .list.gap-1, [class*="text-"].gap-1 { gap: 1px; }
.horizontal-convertible.gap-2, .list.gap-2, [class*="text-"].gap-2 { gap: 2px; }
.horizontal-convertible.gap-3, .list.gap-3, [class*="text-"].gap-3 { gap: 3px; }
.horizontal-convertible.gap-4, .list.gap-4, [class*="text-"].gap-4 { gap: 4px; }
.horizontal-convertible.gap-5, .list.gap-5, [class*="text-"].gap-5 { gap: 5px; }
.horizontal-convertible.gap-6, .list.gap-6, [class*="text-"].gap-6 { gap: 6px; }
.horizontal-convertible.gap-7, .list.gap-7, [class*="text-"].gap-7 { gap: 7px; }
.horizontal-convertible.gap-8, .list.gap-8, [class*="text-"].gap-8 { gap: 8px; }
.horizontal-convertible.gap-9, .list.gap-9, [class*="text-"].gap-9 { gap: 9px; }
.horizontal-convertible.gap-10, .list.gap-10, [class*="text-"].gap-10 { gap: 10px; }

/* button styles */


button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "DM Sans";
}

button {
  background: #b752ff;
  color: white;
}

.mc { color: #b752ff; }

button:active { scale: 0.94; }
button.unclick { cursor: default !important; }
button.unclick:active { scale: 1 !important; cursor: default !important; }
button.text-left { text-align: left; }

button.grey { background-color: #eeeeee; color: black; }
button.full { width: 100%; }
button:disabled { opacity: 0.7; cursor: not-allowed; }
button.outline-black {
  background-color: #ffffff;
  color: black;
  border: 1px solid #efefef;
}
button.outline-black:hover {
  border: 1px solid #dbdbdb; 
  box-shadow: 0 2px 5px rgba(187, 187, 187, 0.24);
}
button.delete {
  background-color: #e42d2d;
  color: white;
}

button.xxxs { font-size: 0.9rem; }
button.xxs { font-size: 1rem; }
button.xs { font-size: 1.1rem; }
button.s { font-size: 1.2rem; }
button.sm { font-size: 1.35rem; }
button.m { font-size: 1.5rem; }
button.ml { font-size: 1.65rem; }
button.l { font-size: 1.8rem; }
button.xl { font-size: 2rem; }
button.xxl { font-size: 2.15rem; }
button.xxxl { font-size: 2.15rem; }
button.b { font-size: 2.8rem; }
button.xb { font-size: 3rem; }
button.xxb { font-size: 3.25rem; }
button.xxxb { font-size: 3.85rem; }


/* input styles */

input {
  width: fit-content;
  padding: 7px 12px;
  border: 1px solid #ededed;
  border-radius: 6px;
  font-family: "DM Sans";
  outline: none;
}
input:focus { border: 1px solid #acacac; }
input.full { width: 100%; }

input.xxxs { font-size: 0.9rem; }
input.xxs { font-size: 1rem; }
input.xs { font-size: 1.1rem; }
input.s { font-size: 1.2rem; }
input.sm { font-size: 1.35rem; }
input.m { font-size: 1.5rem; }
input.ml { font-size: 1.65rem; }
input.l { font-size: 1.8rem; }
input.xl { font-size: 2rem; }
input.xxl { font-size: 2.15rem; }
input.xxxl { font-size: 2.15rem; }

/** rechart styles  */
.recharts-tooltip-wrapper > .recharts-default-tooltip {
   border-radius: 10px !important;
   padding: 5px 10px !important;
   display: flex;
   align-items: center;
   gap: 20px;
   box-shadow: 0 2px 4px 4px rgba(209, 209, 209, 0.267);
   border: 1px solid #e4e4e4 !important;
}
.home-page.dark .recharts-tooltip-wrapper > .recharts-default-tooltip {
   background: var(--background) !important;
   border: 1px solid #424242 !important;
   box-shadow: 0 2px 4px 4px rgba(73, 73, 73, 0.267);
}
.recharts-tooltip-wrapper > .recharts-default-tooltip p { font-weight: 700 !important; }
.recharts-tooltip-wrapper > .recharts-default-tooltip .recharts-tooltip-item-value {
   color: var(--accent-color) !important;
   font-weight: 600 !important;
}

.recharts-wrapper > svg > g.recharts-cartesian-grid > g > line {
   stroke: #adadad69;
}

.recharts-wrapper > svg > g.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis > g > g > line { display: none !important; }
.recharts-wrapper > svg > g.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis > g > g > line { display: none !important; }
.recharts-wrapper > svg > g.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis > g > g > line { display: none !important; }
.recharts-wrapper > svg > g.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis > line { display: none !important; }
.recharts-wrapper > svg > g.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis > line { display: none !important; }
.recharts-tooltip-wrapper > .recharts-default-tooltip .recharts-tooltip-item-name { display: none !important; }
.recharts-tooltip-wrapper > .recharts-default-tooltip .recharts-tooltip-item-separator { display: none !important; }